/* ====================================================================== 공통 디자인 */
/* ---------------------------------------------------------------------- 타이틀 */
#wrap .title_box h1 em {
    font-family: "Montserrat", sans-serif; font-size: 2.63rem; font-weight: 600;
}
#wrap .title_box span {
    line-height: 150%; color: #777; font-size: 1.13rem;
}
/* ---------------------------------------------------------------------- 탭메뉴 버튼 */
#wrap main .tab_menu {display: flex; gap: 8px; align-items: center;}
#wrap main .tab_menu > a {
    background-color: #eee; color: #777; padding: 10px 18px; border-radius: 30px;
    font-weight: 500; font-size: 0.94rem;
}
#wrap main .tab_menu > a.active {
    background-color: #CF0A2C; color: #fff;
}
/* ---------------------------------------------------------------------- 제품명, 가격 */
#wrap .product_box .name {font-size: 1.03rem; margin: 30px 0 20px 0;}
#wrap .product_box .price {font-size: 0.94rem; font-weight: 600; font-size: 0.94rem;}
/*  ---------------------------------------------------------------------- 진행바 */
#wrap main .swiper-pagination {
    position: absolute; bottom: 0; left: 0; width: 100%; display: flex;
}
#wrap main .swiper-pagination-current {margin-right: 3px;}
#wrap main .swiper-pagination-total {margin-left: 3px;}
#wrap main .swiper-scrollbar {
    height: 2px; background: #eee;
    position: absolute; bottom: 7px; left: 50px; width: calc(100% - 50px);
}
#wrap main .swiper-scrollbar-drag {background: #000;}

/* ======================================================================header */
#wrap header {
    position: fixed; left: 0; top: 0; width: 100%; z-index: 999; background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
/* ----------------------------------------------------------------------띠배너 */
#wrap header .notice_bnr {
    background-color: #000; height: 44px;
}
#wrap header .notice_bnr .swiper-wrapper {}
#wrap header .notice_bnr .swiper-wrapper .swiper-slide {
    color: #fff; text-align: center; font-weight: 300;
    line-height: 44px;
}
#wrap header .notice_bnr .swiper-wrapper .notice1 {}
#wrap #wrap header .notice_bnr .swiper-wrapper .notice2 {}
#wrap header .notice_bnr .swiper-wrapper .notice3 {}
/* ----------------------------------------------------------------------nav */
#wrap header nav {
    display: flex; justify-content: space-between; align-items: center;
    padding: 0 80px; height: 71px;
}
#wrap header nav h1 .logo {width: 102px; display: block;}
#wrap header nav h1 .logo img {width: 100%;}
#wrap header nav .gnb {display: flex; gap: 26px;}
#wrap header nav .gnb li {}
#wrap header nav .gnb li a {
    display: block; line-height: 71px; width: 80px; text-align: center;
    font-size: 1.19rem; font-weight: 500;
}
#wrap header nav .search_mypage {}
#wrap header nav .search_mypage button {}
#wrap header nav .search_mypage button img {width: 100%;}
#wrap header nav .search_mypage .search {margin-right: 24px;}
#wrap header nav .search_mypage .search img {}
#wrap header nav .search_mypage .mypage {}
#wrap header nav .search_mypage .mypage img {}