/* ======================================================================main */
/* ======================================================================1. 히어로 배너 */
#wrap main {padding-top: 115px;}
#wrap main .hero_bnr {
    width: 100%; height: calc(100vh - 115px);
}
#wrap main .hero_bnr .swiper-wrapper {}
#wrap main .hero_bnr .swiper-wrapper .swiper-slide {
    background-size: cover; background-position: top;
}
#wrap main .hero_bnr .swiper-wrapper .slide1 {background-image: url(../images/product/banner_01.jpg);}
#wrap main .hero_bnr .swiper-wrapper .slide2 {background-image: url(../images/product/banner_02.jpg);}
#wrap main .hero_bnr .swiper-wrapper .slide3 {background-image: url(../images/product/banner_03.jpg);}
#wrap main .hero_bnr .swiper-wrapper .swiper-slide a {
    display: block; width: 100%; height: 100%;
}
#wrap main .hero_bnr .swiper-wrapper .swiper-slide a .text_box {
    position: absolute; left: 80px; bottom: 100px;
}
#wrap main .hero_bnr .swiper-wrapper .swiper-slide a .text_box h1, 
#wrap main .hero_bnr .swiper-wrapper .swiper-slide a .text_box > p {color: #fff;}
#wrap main .hero_bnr .swiper-wrapper .swiper-slide a .text_box h1 {
    font-family: "Montserrat", sans-serif; font-size: 2.63rem; font-weight: 600; margin-bottom: 20px;
}
#wrap main .hero_bnr .swiper-wrapper .swiper-slide a .text_box > p {font-size: 1.13rem; line-height: 150%;}
/* ----------------------------------------------------------------------1. 히어로 배너(버튼) */
#wrap main .hero_bnr .hero-pagination {}
#wrap main .hero_bnr .hero-prev,
#wrap main .hero_bnr .hero-next {
    background-image: url(../images/common/btn_arrow.svg);
    background-size: 80px;
    background-position: center;
    width: 80px; height: 80px;
}
#wrap main .hero_bnr .hero-prev {left: 40px; transform: translateY(-50%)}
#wrap main .hero_bnr .hero-next {right: 40px; transform: translateY(-50%) scaleX(-1);}
#wrap main .hero_bnr .hero-prev svg,
#wrap main .hero_bnr .hero-next svg {display: none;}/* 기본버튼삭제 */
/* ----------------------------------------------------------------------1. 히어로 배너(페이지번호) */
#wrap main .hero_bnr .hero-pagination {
    position: absolute; bottom: 70px; left: 50%; transform: translateX(-50%);
    display: flex; align-items: center; gap: 16px; width: auto;
}
#wrap main .hero_bnr .hero-pagination .swiper-pagination-current,
#wrap main .hero_bnr .hero-pagination .swiper-pagination-total {
    color: #fff; font-size: 1.25rem;
}
#wrap main .hero_bnr .hero-pagination .custom-separator {
    display: inline-block;
    width: 50px; height: 1px; background-color: #fff;
}
/* ======================================================================2. 베스트셀러 */
#wrap main .best_wrap {
    padding: 100px 80px;
}
#wrap main .best_wrap .title_box {
    display: flex; flex-flow: row nowrap; align-items: end;
    padding-bottom: 40px;
}
#wrap main .best_wrap .title_box h1 {}
#wrap main .best_wrap .title_box h1 em {margin-right: 25px;}
#wrap main .best_wrap .title_box span {}
#wrap main .best_wrap .contents {}
#wrap main .best_wrap .contents .tab_title {display: flex; justify-content: space-between; margin-bottom: 20px;}
#wrap main .best_wrap .contents .tab_title .tab_menu {display: flex; gap: 8px; align-items: center;}
#wrap main .best_wrap .contents .tab_title .tab_menu > a {}
#wrap main .best_wrap .contents .tab_title .tab_menu > a.active {}
#wrap main .best_wrap .contents .tab_title .tab_more {}
#wrap main .best_wrap .contents .tab_title .tab_more > a {}
#wrap main .best_wrap .contents .tab_title .tab_more > a img {width: 100%;}
/* ----------------------------------------------------------------------2. 베스트셀러(swiper) */
#wrap main .best_wrap .contents .tab_contents {}
#wrap main .best_wrap .contents .tab_contents .swiper {
    display: none; max-width: 1760px;
    position: relative; padding-bottom: 60px;
}
#wrap main .best_wrap .contents .tab_contents .swiper.active {display: block;}
#wrap main .best_wrap .contents .tab_contents .swiper .swiper-wrapper {}
#wrap main .best_wrap .contents .tab_contents .swiper .swiper-wrapper .swiper-slide {}
#wrap main .best_wrap .contents .tab_contents .swiper .swiper-wrapper .swiper-slide a {}
#wrap main .best_wrap .contents .tab_contents .swiper .swiper-wrapper .swiper-slide a img {width:100%;}
#wrap main .best_wrap .contents .tab_contents .swiper .swiper-wrapper .swiper-slide h2 {}
#wrap main .best_wrap .contents .tab_contents .swiper .swiper-wrapper .swiper-slide .price {}
/* ----------------------------------------------------------------------2. 베스트셀러(진행바) */
#wrap main .best_wrap .contents .tab_contents .swiper .swiper-pagination {
    position: absolute; bottom: 0; left: 0; width: 100%;
    display: flex;
}
#wrap main .best_wrap .contents .tab_contents .swiper .swiper-pagination-current {margin-right: 3px;}
#wrap main .best_wrap .contents .tab_contents .swiper .swiper-pagination-total {margin-left: 3px;}
#wrap main .best_wrap .contents .tab_contents .swiper .swiper-scrollbar {
    height: 2px; background: #eee;
    position: absolute; bottom: 7px; left: 50px; width: calc(100% - 50px);
}
#wrap main .best_wrap .contents .tab_contents .swiper .swiper-scrollbar-drag {
    background: #000;
}
/* ======================================================================3. 롱 슬리브 */
#wrap main .sleeve_wrap {display: flex; gap: 50px; padding: 0 80px 100px 0;}
#wrap main .sleeve_wrap .look_swiper {}
#wrap main .sleeve_wrap .look_swiper .swiper-wrapper {}
#wrap main .sleeve_wrap .look_swiper .swiper-wrapper .swiper-slide {}
#wrap main .sleeve_wrap .look_swiper .swiper-wrapper .swiper-slide img {width: 100%;}
/* ----------------------------------------------------------------------3. 롱 슬리브(룩북 버튼) */
#wrap main .sleeve_wrap .sleeve-prev svg,
#wrap main .sleeve_wrap .sleeve-next svg {display: none;}/* 기본버튼삭제 */
#wrap main .sleeve_wrap .look_swiper .sleeve-prev,
#wrap main .sleeve_wrap .look_swiper .sleeve-next {
    background-image: url(../images/common/btn_arrow.svg);
    background-size: 80px; background-position: center;
    width: 80px; height: 80px;
}
#wrap main .sleeve_wrap .look_swiper .sleeve-prev {}
#wrap main .sleeve_wrap .look_swiper .sleeve-next {transform: scaleX(-1);}
#wrap main .sleeve_wrap .contents_wrap {width: calc(100% - 750px);}
#wrap main .sleeve_wrap .contents_wrap .title_box {}
#wrap main .sleeve_wrap .contents_wrap .title_box h1 {}
#wrap main .sleeve_wrap .contents_wrap .title_box h1 em {}
#wrap main .sleeve_wrap .contents_wrap .title_box span {margin: 30px 0 70px 0; display: block;}
#wrap main .sleeve_wrap .contents_wrap .more_view {}
#wrap main .sleeve_wrap .contents_wrap .more_view img {}
#wrap main .sleeve_wrap .contents_wrap .contents {}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_title {
    display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;
}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_title .tab_menu {}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_title .tab_menu > a {}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_title .tab_menu > a.active {}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_title .tab_more {}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_title .tab_more > a {}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_title .tab_more > a img {width: 100%;}
/* ----------------------------------------------------------------------3. 롱 슬리브(상품 swiper) */
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents {}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper {width: 100%; padding-bottom: 45px;}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper .swiper-wrapper {}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper .swiper-wrapper .swiper-slide {}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper .swiper-wrapper .swiper-slide > a {}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper .swiper-wrapper .swiper-slide > a > img {width: 100%;}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper .swiper-wrapper .swiper-slide h2 {}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper .swiper-wrapper .swiper-slide .price {}
/* ----------------------------------------------------------------------3. 롱 슬리브(진행바) */
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper .swiper-pagination {
    position: absolute; bottom: 0; left: 0; width: 100%;
    display: flex;
}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper .swiper-pagination-current {margin-right: 3px;}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper .swiper-pagination-total {margin-left: 3px;}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper .swiper-scrollbar {
    height: 2px; background: #eee;
    position: absolute; bottom: 7px; left: 50px; width: calc(100% - 50px);
}
#wrap main .sleeve_wrap .contents_wrap .contents .tab_contents .stripe_swiper .swiper-scrollbar-drag {background: #000;}
/* ======================================================================3. 롱 슬리브 */
#wrap main .event_bnr {
    background-image: url(../images/product/zanmang_loopy.jpg);
    background-size: cover;
    background-position: center;
    height: 400px; margin-bottom: 100px;
}