/* ====================================================================== main */
/* ======================================================================1. 상단 카테고리 */
#wrap main {padding: 200px 80px 0;}
#wrap main .category_wrap {}
#wrap main .category_wrap .cate_top {margin-bottom: 30px; display: inline-block;}
#wrap main .category_wrap .cate_top span {}
#wrap main .category_wrap .cate_top span:first-child::after {
    content: ''; width: 12px; height: 12px; display: inline-block;
    background-image: url(../images/common/arrow_btm.svg);
    background-position: center; background-size: contain; background-repeat: no-repeat;
    transform: rotate(-90deg); margin: 0 5px;
}
#wrap main .category_wrap .cate_title {font-size: 2.63rem; font-weight: 600; margin-bottom: 40px;}
#wrap main .category_wrap .tab_filter {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    margin-bottom: 20px;
}
#wrap main .category_wrap .tab_filter .tab_menu {}
#wrap main .category_wrap .tab_filter .tab_menu > a {}
#wrap main .category_wrap .tab_filter .tab_menu > a.active {}
#wrap main .category_wrap .tab_filter .drop_filter {display: flex; gap: 8px;}
#wrap main .category_wrap .tab_filter .drop_filter > a {
    padding: 10px 18px; border-radius: 30px; border: 1px solid #bdbdbd;
}
#wrap main .category_wrap .tab_filter .drop_filter > a span {}
#wrap main .category_wrap .tab_filter .drop_filter > a img {width: 13px;}
#wrap main .category_wrap .tab_filter .drop_filter .drop_down {}
#wrap main .category_wrap .tab_filter .drop_filter .drop_down span {width: 80px; display: inline-block;}
#wrap main .category_wrap .tab_filter .drop_filter .filter {}
#wrap main .category_wrap .tab_filter .drop_filter .filter span {margin-right: 10px;}
/* ======================================================================2. 상품 리스트 */
#wrap main .product_list_wrap {}
#wrap main .product_list_wrap .product_list {
    display: flex; flex-flow: wrap; gap: 20px; row-gap: 100px;
    margin-bottom: 100px;
}
#wrap main .product_list_wrap .product_list li {width: calc((100% - 60px) / 4); /* 4개 */}
#wrap main .product_list_wrap .product_list li .img_link {}
#wrap main .product_list_wrap .product_list li .img_link img {width: 100%;}
#wrap main .product_list_wrap .product_list li .product_box {}
#wrap main .product_list_wrap .product_list li .product_box .name {}
#wrap main .product_list_wrap .product_list li .product_box .price {}
#wrap main .product_list_wrap .product_list li .product_box > a {}
#wrap main .product_list_wrap .product_list li .product_box > a img {}
/* ======================================================================3. 페이지 */
#wrap main .page_wrap {display: flex; align-items: center; justify-content: center; margin-bottom: 120px;}
#wrap main .page_wrap .page {}
#wrap main .page_wrap .page > a {
    padding: 8px 25px;font-size: 0.94rem;
    font-weight: 500; color: #777; border-radius: 30px;
}
#wrap main .page_wrap .page a.active {color: #fff; background: #CF0A2C;}
#wrap main .page_wrap .next_page {padding: 0 20px;}
#wrap main .page_wrap .next_page img {width: 100%; transform: rotate(-90deg);}